.form {
    text-decoration: none;
    background-color: white;
    color:#c4c4c4;
    display: grid;
    width: 100%;
}

.formContainer {
    padding: 1em 0 1em 1em;
    align-items: center;
}


.form {
    text-decoration: none;
    color: black;
    display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
}

.formItems {
    padding: 1em 0 1em 1em;
    display: flex;
    align-items: center;
}



.formInput {
    min-width: 12em;
    max-width: 12em;
}

.formInputRead {
    background-color: #B2BCD1 !important;
    border-color: black !important;
    min-width: 6em;
    max-width: 6em;
}

.buttonContainer {
    display: flex;
    max-width: 5em;
}
/*
.button {
    border-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}*/
